
.pantalla {
    width: 100%;
    height: auto; 
    margin: auto;
}

/* Pantallas menores a 1024px (tablets) */
@media screen and (max-width: 1024px) {
    .pantalla,
    .header,
    .seccion1 {
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
    }

    .titulo {
        width: 90%;
        font-size: 32px;
        margin: 100px auto 20px auto;
        text-align: center;
    }

    .introduccion {
        width: 90%;
        font-size: 16px;
        margin: 0 auto 20px auto;
        text-align: center;
    }

    .facebook {
        margin: 30px auto;
        display: block;
    }
}

/* Pantallas menores a 600px (celulares) */

@media screen and (max-width: 600px) {
    .header {
        flex-direction: column;
        gap: 8px;
    }

    .t1, .t2, .t3, .t4 {
        font-size: 14px;
        margin: 4px 0;
    }

    .resume {
        width: 100px;
    }

    .titulo {
        font-size: 20px;
    }

    .introduccion {
        font-size: 13px;
    }

    .facebook {
        width: 35px;
    }
}
